build \
--linkopt="-fopenmp" --linkopt="-lpthread" --linkopt="-m64" \
--linkopt="-march=native" --linkopt="-O3" \
--cxxopt="-fopenmp" --cxxopt="-lpthread" --cxxopt="-m64" \
--cxxopt="-march=native" --cxxopt="-O3" \
--copt="-fopenmp" --copt="-lpthread" \
--copt="-march=native" --copt="-O3"  --copt="-m64"

# To use benchexec, first install it and then uncomment this line:
# run --run_under="runexec --no-container --walltimelimit 172800 --cores 0-15 --memlimit 16GB --output /dev/stdout --input - --"

# To enable tcmalloc, first install it (eg. on Ubuntu install
# google-perftools), add the path to libtcmalloc.so.4 to the LD_PRELOAD, and
# uncomment the following lines:
# build --action_env=LD_PRELOAD
# test --action_env=LD_PRELOAD
# run --action_env=LD_PRELOAD

# Suggested here: https://github.com/bazelbuild/rules_foreign_cc/issues/528
build --action_env='MAKEFLAGS="-j$(expr $(nproc) / 4 '|' 1) "'
